/* Add to your global CSS */
.underline-animation {
    position: relative;
}

.underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 14px; /* Increased thickness for the underline */
    background-color: white;
    bottom: -4px; /* Adjust as needed */
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.underline-animation:hover::after,
.underline-animation:focus::after,
.underline-animation.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.button-hover{
    color: white;
    transition-duration: .5s;
}

.button-hover:hover{
    color: rgb(55, 136, 168);
}
